.form-container {
  width: 60vw;
  height: 30vh;
  background-color: rgba(248, 248, 255, 0.5);
  border-radius: 5px;
  margin-top: 2.5%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-between;
  height: 20vh;
}
